* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: #9FB7B9;
}

h1 {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  font-color: #000000;
}

h2 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-color: #000000;
}

p {
  font-size: 16px;
  font-color: #000000;
  font-family: 'Lato', sans-serif;
}

.header {
 text-align: center;
 margin: 40px;
}

.container {
  margin: 25px;
}

.box {
  background: #BCC1BA;
  border: 1px solid #000000;
  margin: 25px;
  text-align: left;
  float: left;
}

.box-header {
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  width: 140px;
  text-align: center;
  padding: 10px;
}

.box-header-1 {
  background: #46B1C9;
  float: right;
}

.box-header-2 {
  background: #84C0C6;
  float: right;
}

.box-header-3 {
  background: #F2E2D2;
  float: right;
}

.box-body p {
  margin: 15px;
  padding-top: 40px;
}

@media (max-width: 767px) {
  .box {
    width: calc(100% - 50px);
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .box {
    width: calc(50% - 50px);
  }
  .box:nth-child(3n+0) {
    width: calc(100% - 50px);
  }
}

@media (min-width: 992px) {
  .box {
    width: calc(33.33% - 50px);
  }
}
